@media (min-width: 1000px) {
    .link_md {
        display: block;
    }
}
@media (max-width: 999.99px) {
    .link_md {
        display: none;
    }
}
.article_img {
    width: 100%;
    max-height: 400px;
    margin-bottom: 20px;
}
.article_img img {
    width: 100%;
    height: 100%;
}
.article_screen {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E5E5E8;
    margin-bottom: 10px;
}
.article_screen .screen_ul {
    float: left;
    margin-bottom: 0;
}
.article_screen .screen_ul li {
    float: left;
}
.article_screen .screen_ul li a {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #405E79;
    line-height: 24px;
    padding: 12px 18px;
    display: block;
    cursor: pointer;
}
.article_screen .screen_ul li a img {
    margin-right: 3px;
    margin-top: -4px;
}
.article_screen .screen_ipt {
    float: right;
    width: 252px;
    height: 30px;
    background: #F7F7F9;
    border: 1px solid #D3D3D7;
    border-radius: 2px;
    margin: 9px 20px;
    padding: 6px 12px;
    font-size: 12px;
}
.article_list .row_list {
    margin: 0 -10px;
}
.article_list .row_list .muen .muen_list {
    width: 100%;
    height: auto;
    padding: 11px 10px;
    background-color: #FFFFFF;
}
.article_list .row_list .muen .muen_list .relevant_list {
    width: 100%;
    height: auto;
    padding: 10px 10px;
    border: 1px solid transparent;
    margin: 0 auto;
    animation: relevant_li 0.6s;
    -ms-animation: relevant_li 0.6s;
    -moz-animation: relevant_li 0.6s;
    -webkit-animation: relevant_li 0.6s;
}
.article_list .row_list .muen .muen_list .relevant_list .list_img {
    height: 160px;
}
.article_list .row_list .muen .muen_list .relevant_list .list_img img {
    width: 100%;
    height: 100%;
}
.article_list .row_list .muen .muen_list .relevant_list .list_context {
    font-family: PingFangSC-Regular;
}
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_title,
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_txt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_title {
    margin-bottom: 12px;
}
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_title .a_title {
    font-size: 20px;
    color: #405E79;
}
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_txt {
    font-size: 14px;
    color: #73777C;
    line-height: 16px;
    margin-bottom: 94px;
}
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_txt p,
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_txt h1,
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_txt h2,
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_txt h3,
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_txt h4,
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_txt h5,
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_txt h6,
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_txt span,
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_txt label {
    margin: 0;
}
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_other .other_time,
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_other .other_visit,
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_other .other_type {
    font-size: 14px;
    color: #73777C;
    line-height: 14px;
}
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_other .other_time img,
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_other .other_visit img,
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_other .other_type img {
    margin-top: -2px;
    margin-right: 4px;
}
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_other .other_time,
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_other .other_visit {
    float: left;
}
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_other .other_visit {
    margin-left: 10px;
}
.article_list .row_list .muen .muen_list .relevant_list .list_context .list_other .other_type {
    float: right;
}
.article_list .row_list .muen .muen_list .relevant_list:hover {
    border: 1px solid #1E90FF;
    transition: .6s;
}
.article_list .row_list .muen_btn {
    width: 100%;
    height: auto;
    padding: 20px 20px;
    background-color: #FFFFFF;
    font-family: PingFangSC-Regular;
    text-align: center;
}
.article_list .row_list .muen_btn .btn_loading {
    background: #48A2F2;
    box-shadow: 2px 2px 6px 0 rgba(72, 162, 242, 0.5);
    border-radius: 100px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 7px 27px;
}
.article_list .row_list .link_md {
    padding-left: 10px;
    font-size: 14px;
}
.article_list .row_list .link_md .article_relevant {
    width: 100%;
    background-color: #FFFFFF;
    padding: 15px 30px;
    text-align: center;
    font-family: PingFangSC-Regular;
}
.article_list .row_list .link_md .article_relevant .relevant_top {
    font-size: 16px;
    color: #405E79;
    line-height: 16px;
}
.article_list .row_list .link_md .article_relevant .relevant_details {
    font-size: 14px;
    color: #73777C;
    line-height: 14px;
}
.article_list .row_list .link_md .article_relevant .relevant_details .relevant_number {
    color: #48A2F2;
}
.selected {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 2px solid #48A2F2;
    margin-top: -3px;
}
